- unless @movie.errors.empty?
  #warning
    Errors prevented this movie from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error

.container 
  
  .row
    .col-3
      = label :movie, :title, 'Title'
    .col
      = text_field :movie, 'title'

  .row
    .col-3
      = label :movie, :rating, 'Rating'
    .col
      = select :movie, :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17']

  .row
    .col-3
      = label :movie, :release_date, 'Released On'
    .col
      = date_select :movie, :release_date, :start_year => Date.today.year, :end_year => 1900 

  .row
    .col-3
      = label :movie, :description, 'Description'
    .col
      = text_area :movie, :description, :rows => 6

