- unless @movie.errors.empty?
  #warning
    Errors prevented this movie from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error
        
= label :movie, :title, 'Title'
= text_field :movie, 'title'

= label :movie, :rating, 'Rating'
= select :movie, :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17']

= label :movie, :release_date, 'Released On'
= date_select :movie, :release_date, :start_year => Date.today.year, :end_year => 1900 

= label :movie, :description, 'Description'
= text_area :movie, :description, :rows => 4

