-# A single row of the All Movies table
.col{class: movie.rating}
  .row.mx-3.poster
    - if !movie.poster_path.to_s.empty?
      .card-poster.my-2
        %img.poster.shadow{:src => 'https://image.tmdb.org/t/p/w300' + movie.poster_path.to_s}
        -if @current_user
          -if Review.find_by(user_id:@current_user.id, movie_id:movie.id)
            %a.btn.yellow.add-review{url:edit_movie_review_path(movie, :id=>movie.id)}
              %i.fas.fa-pen
              Edit my review
          -else
            %a.btn.green.add-review{url:new_movie_review_path(movie, :id=>movie.id)}
              %i.fas.fa-plus
              Add Review

    - else 
      .card-poster.my-2.potatoes.shadow
        = image_tag 'potatoes.svg', :class=>'mx-auto potatoes'
        -if @current_user
          -if Review.find_by(user_id:@current_user.id, movie_id:movie.id)
            %a.btn.yellow.add-review{url:edit_movie_review_path(movie, :id=>movie.id)}
              %i.fas.fa-pen
              Edit my review
          -else
            %a.btn.green.add-review{url:new_movie_review_path(movie, :id=>movie.id)}
              %i.fas.fa-plus
              Add Review

  .row.mx-3
    -if @current_user
      %a.movie-title{:url=>movie_path(movie)}
        %h5.mb-0= movie.title
    -else
      %h5.mb-0= movie.title

  .row.me-3.ms-4.my-2
    %p.release-date.mb-0= movie.release_date.strftime('%Y-%m-%d')

  -if movie.rating
    .row.me-3.ms-4.my-2.rating
      %p.d-inline.rating.px-0.ps-2.mb-0 Rating:
      %p.d-inline.rating.ps-1.pe-2.mb-0= movie.rating
