.detail-container.pt-0.col-10.mx-auto
  .row.m-2
    .col-3.mx-2
      - if !@movie.poster_path.to_s.empty?
        .card-poster.my-2
          %img.poster.shadow{:src => 'https://image.tmdb.org/t/p/w300' + @movie.poster_path.to_s}

      - else 
        .card-poster.my-2.potatoes.shadow
          = image_tag 'potatoes.svg', :class=>'mx-auto potatoes'

    .col.mx-2.bg-grey.rounded.p-3
      %h4.text-center= @movie.title
      .d-flex.justify-content-center
        %p.fw-bold.d-inline.bg-yellow.px-2.m-1.rounded.shadow-sm= 'Rating: ' + @movie.rating
        %p.fw-bold.d-inline.bg-black.text-yellow.px-2.m-1.rounded.shadow-sm= 'Released on: ' + @movie.release_date.strftime('%Y-%m-%d')
      %h5= 'Description:'
      %p.mx-3= @movie.description
      
  .row.m-2
    .col.me-auto.d-flex.align-items-center
      %p.mb-0.fw-bold= 'Average Review Point:'
      
    .col-auto.ms-auto
      %a.btn.yellow{href:edit_movie_path(@movie)}
        %i.fas.fa-pen
        Edit Movie

      -if Review.find_by(user_uid:@current_user.uid, movie_id:@movie.id)
        %a.btn.green{href: edit_movie_review_path(@movie)}
          %i.fas.fa-pen
          Edit My Review
      - else
        %a.btn.green{href: new_movie_review_path(@movie)}
          %i.fas.fa-plus
          Add Review

      %a.btn.red{href:movie_path(@movie), 'data-method' => :delete}
        %i.fas.fa-trash
        Delete
