#review-modal.modal-dialog.modal-dialog-centered.modal-xl
  .modal-content.border-0.rounded
    .modal-header.border-0
      %button.btn-close{:type=>'button', 'data-bs-dismiss'=>'modal', 'aria-label'=>'Close'}
            
    .modal-body.pt-0
      .row.m-2
        .col-3.mx-2
          - if !@movie.poster_path.to_s.empty?
            .card-poster.my-2
              %img.poster.shadow{:src => 'https://image.tmdb.org/t/p/w300' + @movie.poster_path.to_s}

          - else 
            .card-poster.my-2.potatoes.shadow
              = image_tag 'potatoes.svg', :class=>'mx-auto potatoes'

        .col.mx-2.bg-grey.rounded.p-3
          %h4.text-center= @movie.title
          .d-flex.justify-content-center
            %p.fw-bold.d-inline.bg-yellow.px-2.m-1.rounded.shadow-sm= 'Rating: ' + @movie.rating
            %p.fw-bold.d-inline.bg-black.text-yellow.px-2.m-1.rounded.shadow-sm= 'Released on: ' + @movie.release_date.strftime('%Y-%m-%d')
          %p.fw-bold.my-2.text-center= 'Average Review Point:'

          %h5.ms-3.mt-4= 'Review:'
          .d-flex.justify-content-center.align-items-center
            = form_tag movie_reviews_path(@movie) do
              %p.ms-3.my-2.d-inline= 'How many potatoes?'

              .potatoes-radio-group.p-2.d-inline
                %label#1.mx-1
                  %input#1.potatoes-radio{:type=>"radio", :name=>'potatoes-score', :value=>'1'}
                  = image_tag 'rottenpotatoes-logo.svg', :class=>'potatoes-icon'

                %label#2.mx-1
                  %input#2.potatoes-radio{:type=>"radio", :name=>'potatoes-score', :value=>'2'}
                  = image_tag 'rottenpotatoes-logo.svg', :class=>'potatoes-icon'

                %label#3.mx-1
                  %input#3.potatoes-radio{:type=>"radio", :name=>'potatoes-score', :value=>'3'}
                  = image_tag 'rottenpotatoes-logo.svg', :class=>'potatoes-icon'

                %label#4.mx-1
                  %input#4.potatoes-radio{:type=>"radio", :name=>'potatoes-score', :value=>'4'}
                  = image_tag 'rottenpotatoes-logo.svg', :class=>'potatoes-icon'

                %label#5.mx-1
                  %input#5.potatoes-radio{:type=>"radio", :name=>'potatoes-score', :value=>'5'}
                  = image_tag 'rottenpotatoes-logo.svg', :class=>'potatoes-icon'

              %button.btn.green.my-4.d-block.mx-auto{:type =>'submit'}
                %i.fas.fa-plus
                Create Review